@import '../variables';

.form {
  width: 100%;

  input {
    width: 100%;
    line-height: 3rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    border: 0;
    // outline: none;
    padding: 1rem 1.5rem;
    font-size: rem(20);
    color: #131111;
    margin-bottom: 1rem;
    font-family: $font-main;


    &::placeholder {
      color: #2b2a2a;
      font-weight: 100;

    }
  }

  input[type="submit"] {
    color: $color-white;
    background-color: $color-primary;
    font-weight: normal;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
}